<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>Budget Pro</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <![endif]-->
    <!-- GLOBAL STYLES -->
    <!--Jquery-->
    <script src="Scripts/jquery-2.1.3.min.js"></script>

    <!--Angular-->
    <script src="Scripts/angular.min.js"></script>
    <!--Angular Plugins-->
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <!--Ui Grid-->
    <link href="Content/css/ui-grid.css" rel="stylesheet" />
    <script src="Content/js/ui-grid.min.js"></script>
    <!--Scripts-->
    <script src="Angular/app.js"></script>
    <script src="Angular/global/services/authInterceptor.js"></script>
    <script src="Angular/global/services/authService.js"></script>
    <!--Bootstrap-->
    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <!--CSS-->
    <link href="Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/css/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="Content/css/main.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <!--Fonts-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <!--Chart-->
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <!--Areas-->
    <!--Dashboard-->
    <script src="Angular/Areas/dashboard/dashSvcs.js"></script>
    <script src="Angular/Areas/dashboard/dashboardController.js"></script>
    <!--Directives-->
    <script src="Angular/Areas/accounts/directives/UserInfo.js"></script>
    <!--Accounts-->
    <script src="Angular/Areas/accounts/services/accountService.js"></script>
    <script src="Angular/Areas/accounts/LoginController.js"></script>
    <script src="Angular/Areas/accounts/registerController.js"></script>
    <script src="Angular/Areas/accounts/userprofileController.js"></script>
    <script src="Angular/Areas/accounts/userSvcs.js"></script>
    <!--Bank-->
    <script src="Angular/global/services/bankSvcs.js"></script>
    <script src="Angular/Areas/bank/accmgmtController.js"></script>
    <!--Budget-->
    <script src="Angular/Areas/budget/budgetItemSvcs.js"></script>
    <script src="Angular/Areas/budget/budgetController.js"></script>
    <!--Categories-->
    <script src="Angular/global/services/categorySvcs.js"></script>
    <script src="Angular/Areas/categories/categoryController.js"></script>
    <!--Top Bar-->
    <script src="Angular/Areas/topbar/topbarController.js"></script>
    <!--Household-->
    <script src="Angular/Areas/household/houseSvcs.js"></script>
    <script src="Angular/Areas/household/housemgmtController.js"></script>
    <!--Transaction-->
    <script src="Angular/Areas/transaction/transactionSvcs.js"></script>
    <script src="Angular/Areas/transaction/transactionController.js"></script>
    <!--Graphing plugin-->
    <link href="Content/css/nv.d3.css" rel="stylesheet" />
    <script src="Scripts/d3.js"></script>
    <script src="Scripts/nv.d3.min.js"></script>
    <script src="Scripts/angular-nvd3.min.js"></script>
    <!--Notification Plugin-->
    <script src="Scripts/angular-ui-notification.js"></script> 
    <link href="Content/css/angular-ui-notification.min.css" rel="stylesheet" />    
    <script src="Angular/global/services/notifySvcs.js"></script> 
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->
<body ng-app="app">

    <!-- MAIN WRAPPER -->
    <div id="wrapper">

        <!-- LOGO SECTION -->
        <header id="header">

            <a href="./index.html">
                <img src="Content/img/name.png" style="max-height:77px;" alt="Site Logo" />
            </a>

            <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-cog"></i>
            </a>

            <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-reorder"></i>
            </a>

        </header>
        <!-- END LOGO SECTION -->
        <nav id="top-bar" ng-controller="topbarController">


            <ul class="nav navbar-nav pull-right">
                <li>
                    <input type="button" class="btn btn-primary" ui-sref="register" value="Register" ng-hide="authentication.isAuth" style="margin-right:15px; margin-top:8px;">
                </li>
                <li>
                    <input type="button" class="btn btn-primary" ui-sref="login" value="Login" ng-hide="authentication.isAuth" style="margin-right:65px; margin-top:8px;" />
                </li>
                <li>
                    <input type="button" class="btn btn-primary" value="My Account" ng-click="goProfile()" style="margin-right:10px; margin-top:8px;" ng-show="authentication.isAuth" />
                </li>
                <li>
                    <input type="button" class="btn btn-primary" value="Log out" ng-click="logout(); goLogin();" style="margin-right:65px; margin-top:8px;" ng-show="authentication.isAuth" />
                </li>
            </ul>
        </nav>
        <!-- MENU SECTION -->
        <div id="sidebar-wrapper">
            <nav id="sidebar" ng-controller="topbarController">

                <ul id="main-nav" class="open-active" ng-show="authentication.isAuth">
                    <li><a ui-sref="dashboard">Dashboard</a></li>
                    <li><a ui-sref="bank">Accounts</a></li>
                    <li><a ui-sref="transaction">Transactions</a></li>
                    <li><a ui-sref="housemgmt">Household</a></li>
                    <!--<li><a ui-sref="userprofile">Profile</a></li>-->
                    <li><a ui-sref="budget">Budgets</a></li>
                    <li><a ui-sref="category">Categories</a></li>
                </ul>
                <img src="Content/img/logo.png" style="margin-left:23px;" />
            </nav>
        </div>
        <!--END MENU SECTION -->
        <!--PAGE CONTENT -->
        <div id="content">
            <div ui-view></div>
        </div>
        <!--END PAGE CONTENT -->
    </div>

    <!--END MAIN WRAPPER -->
    <footer id="footer">
        <ul class="nav pull-right">
            <li>
                &copy;  Philip Weiser &nbsp;2015 &nbsp;
            </li>
        </ul>
    </footer>

</body>
<!-- END BODY -->
</html>
