<div class="modal-header">
    <h3 class="modal-title">Edit Category Name</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-md">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control input-lg" ng-model="entity.Name"/>
    </div>
    </div>
<div class="modal-footer">
    <input type="button" class="btn btn-primary" value="Submit" ng-click="ok()" />
    <input type="button" class="btn btn-warning" ng-click="cancel()" value="Cancel"/>
</div>