<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-md">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
        </span>
        <input type="password" class="form-control input-lg" ng-model="entity.OldPassword" placeholder="Current Password" />
        <input type="password" class="form-control input-lg" ng-model="entity.NewPassword" placeholder="New Password" />
        <input type="password" class="form-control input-lg" ng-model="entity.ConfirmPassword" placeholder="Confirm New Password" />
    </div>
    </div>
<div class="modal-footer">
    <input type="button" class="btn btn-primary" value="Submit" ng-click="ok()" />
    <input type="button" class="btn btn-warning" ng-click="cancel()" value="Cancel"/>
</div>