<div ng-controller="userprofileController">
    <div class="row">
        <div class="col-xs-2">
            Email
        </div>
        <div class="col-xs-10">
            {{user.Email}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Name
        </div>
        <div class="col-xs-10">
            <input type="text" class="form-control input-lg" ng-model="user.Name" ng-value="{{user.Name}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            Household
        </div>
        <div class="col-xs-10">
            {{user.HouseholdId}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            PhoneNumber
        </div>
        <div class="col-xs-10">
            {{user.PhoneNumber}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            UserName
        </div>
        <div class="col-xs-10">
            {{user.UserName}}
        </div>
    </div>
    <input type="button" ng-click="updateUser()" value="Update User" />
</div>