<div ng-controller="userprofileController">
    <div class="row">
        <div class="col-xs-12"><div id="content-header"><h1>Profile</h1></div></div>
    </div>
    <div class="col-xs-12">
        <notification alert-data="notification"></notification>
    </div>
    <div class="col-xs-12">
        <div class="row"> 
            <div class="col-xs-2">
                Email
            </div>
            <div class="col-xs-10">
                {{user.Email}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                Name
            </div>
            <div class="col-xs-10">
                <input type="text" class="form-control input-lg" ng-model="user.Name" ng-value="{{user.Name}}" />
            </div>
        </div>
        <input type="button" class="btn btn-primary" ng-click="updateUser()" value="Update Name" />
        <input type="button" class="btn btn-primary" ng-click="changePassword()" value="Change Password" />
    </div>
</div>