<div ng-controller="housemgmtController">
    <h1>Household</h1><hr />
    {{message}}
    <div ng-hide="gridHide">
        <div ui-grid=gridOptions id="grid1" class="houseGrid">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-sm-4" ng-hide="gridHide" style="margin-top:10px">
            <div class="input-group input-group-md">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>

                <input type="email" class="form-control input-lg" ng-model="inviteEmail" placeholder="Invite User to Household" />
                <input type="button" class="form-control btn-primary btn" value="Invite" ng-click="inviteToHousehold()" />
            </div>
        </div>
        <div class="col-sm-6" ng-show="gridHide">
            <div class="input-group input-group-md">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" id="newHouseName" class="form-control input-lg" ng-model="houseName" placeholder="New Household Name" />
                <input type="button" class="form-control btn-primary" value="Create" ng-click="createHousehold()" />
            </div>
        </div>
        <div class="col-xs-6" style="margin-top:15px;" ng-hide="gridHide">
            <input type="button" class="form-control btn-danger" value="Leave Household" ng-click="leaveHousehold()" />
        </div>
        <div class="col-xs-6" style="margin-top:15px;" ng-hide="joinHide">
            <input type="button" class="form-control btn-primary" value="Join Household" ng-click="joinHousehold()" />
        </div>
    </div>
</div>
