<div ng-controller="housemgmtController">
housemgmt
    {{message}}
    Display Members
        memberDisplay
        <div ui-grid="{ data: houseData }" id="grid1" class="myGrid">
        </div>
    Invite box
        <input type="email" ng-model="inviteEmail" placeholder="Invite User to Household" />
        <input type="button" value="Invite" ng-click="inviteToHousehold()" />
        {{inviteEmail}}
    Leave Household
        leaveHousehold
        <input type="button" value="Leave Household" ng-click="leaveHousehold()" />
    Create Household
        <input type="text" ng-model="houseName" placeholder="New Household Name" />
        <input type="button" value="Create" ng-click="createHousehold()" />
        The houseName is {{theHouse}}
</div>