<div ng-controller="transactionController">
    <h1>Choose an Account:</h1>
    <select ng-options="account.Name for account in accounts" ng-model="AccountName" ng-change="accountSelected()"/>
    <div class="row">
        <div class="col-xs-12">
            <input type="text" placeholder="Description" ng-model="transaction.Description" />
            <input type="text" placeholder="Category" typeahead="c.Name for c in categories" ng-model="CategoryName" />
            <input type="text" placeholder="Amount" ng-model="transaction.Amount" />
            <label>Reconciled</label><input type="checkbox" ng-model="transaction.ReconciledTF" />
            <label>Debit</label><input type="checkbox" ng-model="transaction.Debit" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="button" ng-click="createTransaction()" value="Create transaction" />
            <input type="button" ng-click="updateTransaction()" value="Update transaction" />
        </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-pagination id="grid1" class="myGrid">
    </div>
</div>