<div class="modal-header">
    <h3 class="modal-title">Create New Category</h3>
</div>
<div class="modal-body">
    <div class="input-group input-group-md">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control input-lg" ng-model="category.Name" placeholder="New Category Name" />
    </div>
    </div>
<div class="modal-footer">
    <input type="button" class="form-control btn-primary" value="Create" ng-click="createCategory()" />
    <input type="button" class="btn btn-warning" ng-click="cancel()" value="Cancel"/>
</div>