<div ng-controller="dashboardController">
    <div class="row">
        <div class="col-md-4 column">
            <div class="row">
                <div class="col-md-12 column">
                    <h2>Accounts</h2>
                    <div ng-repeat=" account in accounts">
                        {{account.Name}}
                        {{account.Balance | currency}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 column">
                    <h2>Recent Transactions</h2>
                    <div ng-repeat="transaction in transactions">
                        {{transaction.Date | date}}
                        {{transaction.Amount | currency}}
                        {{transaction.CategoryName}}
                        {{transaction.Description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 column">

            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</div>